html, body {
    margin: 0;
    height: 100%;
}

#header {
    height: 15%;
    background-color: rgb(63, 61, 78);
    display: block;
}

/*
    Start CSS provisório p/ header
*/

#header h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    color: white;
    text-align: center;
}

#header h2 {
    margin-top: 0;
    color: white;
    text-align: center;
}

/*
    End CSS provisório p/ header
*/

#page {
    height: 75%;
    background-color: rgb(255, 255, 255);
    display: block;
}

#footer {
    height: 10%;
    background-color: rgb(128, 96, 22);
    display: block;
}

/*
    Start CSS provisório p/ header
*/

#footer h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    color: white;
    text-align: center;
}

#footer h4 {
    margin-top: 0;
    color: white;
    text-align: center;
}

/*
    End CSS provisório p/ header
*/

/* 
    Start page CSS
*/

.authpanel {
    position: relative;
    height: 100%;
}

.auth {
    width: 70px;
}

.authcontainer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.login {
    top: 50%;
    transform: translate(0, -50%);
}

.logout{
    z-index: 2;
}

#signout_button , #authorize_button, .submit {
    background-color: rgb(63, 61, 78);
    border-width: 0px ;
    border-radius: 5px;
    padding: 5px  20px 5px 20px;
    width: max-content;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

#signout_button:hover , #authorize_button:hover, .submit:hover {
    background-color: rgb(149, 169, 230);
}

.adminpanel {
    position: absolute;
    transform: translate(-50%, -100%);
    left: 50%;
    padding-bottom: 20px;
}

.adminpanel button {
    background-color: rgb(128, 96, 22);
    border-width: 0px ;
    border-radius: 5px;
    padding: 5px  20px 5px 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.adminpanel button:hover {
    background-color: rgb(243, 209, 130);
}

#agendamento {
    width: max-content;
    height: max-content;
}

#content {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    width: max-content;
    margin: auto;
}

#content[style*="hidden"]{
    z-index: -1;
}

.hidden {
    visibility: hidden;
}

#chrome {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 0 30px;
    margin: auto;
    width: max-content;
    padding: 20px;
}

.chromeCol{
    text-align: left;
}

.inputlabel {
    display: block;
}

.date {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 0 30px;
    text-align: center;
    width: max-content;
    margin: auto;
    padding: 20px;
}

button {
    display: block;
    margin: auto;
}

#turma {
    display: block;
    margin: auto;
    text-align: center;
}

#obs {
    display: block;
    margin: auto;
    padding: 0 150px 0 150px;
    text-align: center;
}

.submit {
    margin-top: 20px;
}

/* 
    End page CSS
*/