#header {
    height: 10%;
    background-color: rgb(142, 134, 255);
    display: block;
}

#page {
    height: 80%;
    background-color: rgb(255, 246, 208);
    display: block;
}

#footer {
    height: 10%;
    background-color: rgb(142, 134, 255);
    display: block;
}

html, body {
    margin: 0;
    height: 100%;
}

.authpanel {
    position: relative;
    height: 100%;
}

.auth {
    width: 70px;
}

.authcontainer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.login {
    top: 50%;
    transform: translate(0, -50%);
}

.logout{
    z-index: 2;
}

.adminpanel {
    position: absolute;
    transform: translate(-50%, -100%);
    left: 50%;
    padding-bottom: 20px;
}

#agendamento {
    width: max-content;
    height: max-content;
}

#content {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    width: max-content;
    margin: auto;
}

#content[style*="hidden"]{
    z-index: -1;
}

.hidden {
    visibility: hidden;
}

#chrome {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 0 30px;
    margin: auto;
    width: max-content;
    padding: 20px;
}

.chromeCol{
    text-align: left;
}

.inputlabel {
    display: block;
}

.date {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 0 30px;
    text-align: center;
    width: max-content;
    margin: auto;
    padding: 20px;
}

button {
    display: block;
    margin: auto;
}

#turma {
    display: block;
    margin: auto;
    text-align: center;
}

#obs {
    display: block;
    margin: auto;
    padding: 0 150px 0 150px;
    text-align: center;
}

.submit {
    margin-top: 20px;
}